#navigation-bar {
    background-color: #639BF1;
}

#navigation-bar a {
    color: white;
    font-family: "Anton";
}

#navigation-bar li:hover {
    background-color: #3B5998;
}

#navigation-bar .dropdown-menu {
    background-color: #3B5998;
}

#navigation-bar .dropdown-menu a:hover {
    color: black;
}

#navigation-bar .nav a {
    font-size: 1.5rem;
}
